* {
    box-sizing: border-box;
}
body {
    background-color: #636e72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}
.blue {
    --clr: #4285F4;
}
.red {
    --clr: #DB4437;
}
.yellow {
    --clr: #F4B400;
}
.green {
    --clr: #0F9D58;
}

h1 {
    color: aliceblue;
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px;
}

.box {
    background-color: var(--clr);
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 13px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.5s ease;
}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
}